body {
    background-color: #edddd0;
}

h1 {
    color: #334259;
}

.personalwebH1 {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #a6cad4;
    text-align:center;
    padding: 1px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0px 10px;
}

.school-nav {
    display: flex;
    order: 1;
}

article {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

h2 {
    grid-column: 1/-1;
}

p {
    grid-column: 1/3;
}

footer {
    background-color: #a6cad4;
    text-align:center;
    color: #db504a
}

a:link {
    color: #a6cad4;
}
a:visited {
    color: #334259;
}
a:focus {
    color: #e5e5dc;
}
a:hover {
    color: #e5e5dc
}