body {
    background-color: #e0ddd0;
}

h1 {
    color: #334259;
}

.personalwebH1 {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #a6cad4;
    
    text-align:center;
}

footer {
    background-color: #a6cad4;
    text-align:center;
    color: #db504a
}