body {
    background-color: #e0ddd0;
}

h1 {
    color: #334259;
}

.personalwebH1 {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #a6cad4;
    text-align:center;
    padding: 1px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0px 10px;
}

.school-nav {
    display: flex;
    order: 1;
}

article {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}



footer {
    background-color: #a6cad4;
    text-align:center;
    color: #db504a
}