body {
    background-color: #edddd0;
}

h1 {
    color: #334259;
}

.personalwebH1 {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #a6cad4;
    text-align:center;
    padding: 1px;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin: 0px 10px;
}

.school-nav {
    display: flex;
    order: 1;
}

article {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

h2 {
    grid-column: 1/-1;
}

p {
    grid-column: 1/3;
}

footer {
    background-color: #a6cad4;
    text-align:center;
    color: #db504a
}

a:focus {
    color: #e5e5dc;
}
a:hover {
    color: #db504a;
}

div {
    display: grid;
    align-items: center;
    justify-content: center;
}

.topborder {
    border-top:teal 2px solid;
    padding-top: 10px;
}

@media (min-width:600px) {
    .topborder {
        border-top:midnightblue 2px solid;
    }

    .nav {
        flex-direction: row;
        justify-content: center;
    }

    section {
        display: grid;
        grid-template-columns: 400px 2fr;
        grid-template-rows: 10px;
    }

    .courselink {
        grid-row: 1/1;
        grid-column:1/1;
    }
    .courseinfo {
        grid-row: 2/2;
        grid-column: 2/2;
    }    
    .season {
        grid-row: 3/3;
    }

}

